html {
  background-color: #f1f1f1;
}

.HeadingText,
.ClickButton,
.PlayButton,
.Table,
.ClicksNumber,
.ClickingForTeamText {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.InviteFriends,
.ClicksText,
.TableFooter,
.Footer,
.QuoteText,
.QuoteAuthor,
.NameLabel {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

.HeadingText,
.PlayButton,
.ClickButton {
  background-color: #4990e2;
}

.Quote {
  margin: 0 auto;
  width: 60%;
  padding: 40px;
  font-size: 25px;
  font-weight: 300;
  font-style: italic;
}

.QuoteText {
  text-align: center;
  padding-bottom: 20px;
}

.QuoteAuthor {
  text-align: right;
  padding-right: 180px;
}

.HeadingText {
  color: white;
  font-size: 25px;
  text-align: center;
  padding: 10px;
}

.KlikHeading {
  text-align: center;
  padding: 30px;
}

.ClickingForTeamText {
  text-align: center;
  font-size: 50px;
  padding: 30px;
  font-weight: 400;
}

.InviteFriends {
  margin-top: 30px;
}

.InviteFriendsLink {
  border: 1px solid grey;
  border-radius: 10px;
  padding: 8px 20px;
  margin-left: 10px;
  background-color: white;
}

.MainContainer {
  width: 50%;
  margin: 0 auto;
  border: 5px solid #4990e2;
  border-radius: 10px;
  background-color: white;
}

label,
input {
  display: block;
  width: 100%;
}

.FormWrapper {
  padding: 20px 0px 60px 0px;
  font-size: 20px;
  display: flex;
  justify-content: space-around;
}

.LabelInputWrapper {
  padding: 25px;
  width: 100%;
}

input {
  margin: 10px 0px 0px 0px;
  padding: 5px 8px;
  line-height: 30px;
  border-radius: 10px;
  border: solid 0.5px grey;
  font-size: 15px;
  outline: none;
}

::placeholder {
  opacity: 0.5;
}

.PlayButton,
.ClickButton {
  color: white;
  font-size: 40px;
  border-radius: 10px;
  outline: none;
}

.PlayButton {
  float: right;
  margin: 0px 25px 25px 10px;
  padding: 10px 75px;
}

.ClickButton {
  display: block;
  width: 90%;
  padding: 30px;
  margin: 25px auto;
}

.Table {
  width: 100%;
  text-align: left;
  border: none;
  font-size: 18px;
  line-height: 50px;
}

.FirstColumn {
  text-align: center;
  padding: 0 10px 0 10px;
}

.ThirdColumn {
  text-align: right;
  padding-right: 20px;
}

thead {
  font-size: 12px;
}

tr:nth-child(even) {
  background-color: #ecf3fd;
}

tr:nth-child(odd) {
  background-color: #dce9f9;
}

thead th {
  background-color: white;
  color: rgba(0, 0, 0, 0.5);
}

.TableFooter,
.Footer {
  text-align: center;
}

.TableFooter {
  padding: 35px;
}

.Footer {
  padding: 50px 0px 20px 0px;
}

.ClicksWrapper {
  display: flex;
  justify-content: space-around;
}

.ClicksTextBox {
  padding: 30px;
  text-align: center;
}

.ClicksNumber {
  font-size: 50px;
  color: #4990e2;
  padding: 10px 0px;
  letter-spacing: 2px;
}

.Top10ClickersImg {
  width: 50%;
  display: block;
  margin: auto;
}
